<div class="card my-4">
  <div class="card-body">
    <h1 style="font-size: 1.4rem">Send din støtteerklæring</h1>

    <p class="lead">Med en støtteerklæring og siden en vælgererklæring siger du ja til, at JFK – Jorden Frihed Kundskab må stille op til folketingsvalg.</p>

    <div class="my-3">
      {{#if errors }}
        {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
      {{/if}}
    </div>

    <form action="/declare" method="POST">
      {{!-- First name --}}
      <div class="form-group row">
        <label for="firstName" class="col-6 col-xl-1 col-md-2 col-sm-2 col-form-label">Fornavn</label>
        <div class="col-12 col-xl-11 col-md-10 col-sm-10">
          <input id="firstName" class="form-control" type="text" name="firstName" placeholder="Indtast dit fornavn" value="{{firstName}}">
        </div>
      </div>
      {{!-- Last name --}}
      <div class="form-group row">
        <label for="lastName" class="col-6 col-xl-1 col-md-2 col-sm-2 col-form-label">Efternavn</label>
        <div class="col-12 col-xl-11 col-md-10 col-sm-10">
          <input id="lastName" class="form-control" type="text" name="lastName" placeholder="Indtast dit efternavn" value="{{lastName}}">
        </div>
      </div>
      {{!-- Email --}}
      <div class="form-group row">
        <label for="email" class="col-6 col-xl-1 col-md-2 col-sm-2 col-form-label">E-mail</label>
        <div class="col-12 col-xl-11 col-md-10 col-sm-10">
          <input id="email" class="form-control" type="email" name="email" placeholder="Indtast din E-mail adresse" value="{{email}}"
            required>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-xl-11 offset-xl-1 col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-primary">Støt</button>
        </div>
      </div>
    </form>
  </div>
</div>
