<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JFK21 - Vælgererklæring</title>

  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <style type="text/css">
    canvas {
      display: block;
      width: 100%;
    }
  </style>
  {{{vdrData}}}
</head>

<body>
  <div class="container-fluid">
    <div class="row my-4">
      {{!-- Total Declarations --}}
      <div class="col-sm">
        <div class="card text-white bg-primary">
          <div class="card-header">Vælgererklæringer i alt</div>
          <div class="card-body">
            <p id="total-declarations" class="display-1 text-center">6500</p>
          </div>
        </div>
      </div>

      {{!-- Varified Declarations --}}
      <div class="col-sm">
        <div class="card text-white bg-success">
          <div class="card-header">Verificeret i alt</div>
          <div class="card-body">
            <p id="total-verifications" class="display-1 text-center">4000</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-secondary my-4">
      <div class="card-header">Vælgererklæringer over tid</div>
      <div class="card-body">
        <div class="mx-4">
          <canvas id="development-chart">
            Your browser doesn't support html5! Please use a fitable browser.
          </canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" id="monthly" disabled>Måndelig udvikling</button>
              <button type="button" class="btn btn-primary" id="last-thirty-days">Sidste 30 dage</button>
              <button type="button" class="btn btn-primary" id="last-seven-days">Sidste 7 dage</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="assets/js/stats.js"></script>

</html>
