<div class="card my-4">
  <div class="card-body">
    <h1 style="font-size: 1.4rem">Tak for støtten</h1>

    <p class="lead">Din støtteerklæring er nu registreret hos os.</p>

    {{#if email}}
    <p>
      Vi har også sendt en email til <strong>{{email}}</strong> med en verifikationslink.
    </p>
    {{/if}}
  </div>
</div>
